<div class="card-detail-wrapper" *ngIf="(card$ | async) as card">
    <div class="card-container">
        <div class="absolute left-0 right-0 vertical-center text-center">
            <div class="inline-block shadow-xl">
                <app-unit-basic [size]="size" #cardContainer [card]="card"></app-unit-basic>
            </div>
        </div>
      <div class="absolute right-0 bottom-0 mb-2 mr-4">
        <div *ngIf="!(downloading$ | async)" class="py-2 px-3 rounded bg-blue-400 text-white shadow-lg font-bold cursor-pointer hover:bg-blue-500" (click)="showPDF(cardContainer)" matRipple>
          PDF Download anfordern
        </div>
        <div *ngIf="(downloading$ | async)" class="py-2 px-3 rounded bg-gray-400 text-white shadow-lg font-bold">
          Bitte warten...
        </div>
      </div>
    </div>
    <div class="card-form">
        <mat-tab-group>
            <mat-tab label="Grundeinstellungen">
                <div class="p-4">
                    <div class="flex flex-wrap -mx-2">
                        <div class="w-full px-2">
                            <mat-form-field class="w-full">
                                <mat-label>Kartentitel</mat-label>
                                <input type="text" matInput [(ngModel)]="card.title" (ngModelChange)="changed()"/>
                            </mat-form-field>
                        </div>
                        <div class="w-full px-2">
                          <mat-form-field class="w-full">
                            <mat-label>Untertitel </mat-label>
                            <textarea rows="3" matInput [(ngModel)]="card.subtitle" (ngModelChange)="changed()"></textarea>
                          </mat-form-field>
                        </div>
                        <div class="w-full px-2">
                            <mat-form-field class="w-full">
                                <mat-label>Zitat </mat-label>
                                <textarea rows="3" matInput [(ngModel)]="card.quote" (ngModelChange)="changed()"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="w-1/4 p-2">
                            <mat-label>Einheitenbild</mat-label>
                            <app-medium (changed)="card.unitImage = $event;changed()" [medium]="card.unitImage"></app-medium>
                        </div>
                      <div class="w-3/4 p-2">
                        <mat-checkbox (ngModelChange)="changed()" [(ngModel)]="card.useAutomaticBackgroundRemoval"></mat-checkbox>
                        Hintergrund automatisch entfernen (experimentell)
                      </div>
                      <div class="w-full p-2">
                        Bild Verschiebung X-Achse
                        <mat-slider (ngModelChange)="changed()" [(ngModel)]="card.imageTranslateX" [min]="-3" [max]="3" [step]="0.01"></mat-slider>
                      </div>
                      <div class="w-full p-2">
                        Bild Verschiebung Y-Achse
                        <mat-slider (ngModelChange)="changed()" [(ngModel)]="card.imageTranslateY" [min]="-3" [max]="3" [step]="0.01"></mat-slider>
                      </div>
                      <div class="w-full p-2">
                        Bild Skalierung
                        <mat-slider (ngModelChange)="changed()" [(ngModel)]="card.imageScale" [min]="0.1" [max]="2" [step]="0.01"></mat-slider>
                      </div>
                    </div>

                </div>
            </mat-tab>
            <mat-tab label="Einheiten">
                <mat-accordion [multi]="false">
                    <mat-expansion-panel *ngFor="let unit of card.units" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{ unit.name }}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <div class="flex flex-wrap -mx-2">
                                <div class="w-full px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Name</mat-label>
                                        <input matInput type="text" [(ngModel)]="unit.name" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-1/4 px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>M</mat-label>
                                        <input matInput type="text" [(ngModel)]="unit.movementSpeed" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-1/4 px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>WS</mat-label>
                                        <input matInput type="text" [(ngModel)]="unit.weaponSkill" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-1/4 px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>BS</mat-label>
                                        <input matInput type="text" [(ngModel)]="unit.ballisticSkill" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-1/4 px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>S</mat-label>
                                        <input matInput type="text" [(ngModel)]="unit.strength" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-1/4 px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>T</mat-label>
                                        <input matInput type="text" [(ngModel)]="unit.toughness" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-1/4 px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>A</mat-label>
                                        <input matInput type="text" [(ngModel)]="unit.attacks" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-1/4 px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>LD</mat-label>
                                        <input matInput type="text" [(ngModel)]="unit.leadership" (ngModelChange)="changed()"/>
                                    </mat-form-field>
                                </div>
                                <div class="w-1/4 px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Save</mat-label>
                                        <input matInput type="text" [(ngModel)]="unit.save" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-full px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Ref</mat-label>
                                        <input matInput type="text" [(ngModel)]="unit.ref" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                            </div>
                          <button (click)="removeUnit(unit)" mat-button color="primary">Einheit entfernen</button>
                        </div>
                  </mat-expansion-panel>
                </mat-accordion>
              <button (click)="addUnit()" mat-button color="primary">Einheit hinzufügen</button>
            </mat-tab>
            <mat-tab label="Attacken">
                <mat-accordion [multi]="false">
                    <mat-expansion-panel *ngFor="let weapon of card.weapons" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{ weapon.name }}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <div class="flex flex-wrap -mx-2">
                                <div class="w-full px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Name</mat-label>
                                        <input matInput type="text" [(ngModel)]="weapon.name" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-full px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Typ</mat-label>
                                        <input matInput type="text" [(ngModel)]="weapon.type" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-full px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Fähigkeit</mat-label>
                                        <textarea matInput rows="3" [(ngModel)]="weapon.abilities" (ngModelChange)="changed()"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="w-1/4 px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Reichweite</mat-label>
                                        <input matInput type="text" [(ngModel)]="weapon.range" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-1/4 px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>S</mat-label>
                                        <input matInput type="text" [(ngModel)]="weapon.strength" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-1/4 px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>AP</mat-label>
                                        <input matInput type="text" [(ngModel)]="weapon.penetration" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-1/4 px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Schaden</mat-label>
                                        <input matInput type="text" [(ngModel)]="weapon.damage" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                            </div>
                          <button (click)="removeWeapon(weapon)" mat-button color="warn">Bewaffnung entfernen</button>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
              <button (click)="addWeapon()" mat-button color="primary">Bewaffnung hinzufügen</button>
            </mat-tab>
            <mat-tab label="Fähigkeiten">
                <mat-accordion [multi]="false">
                    <mat-expansion-panel *ngFor="let ability of card.abilities" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{ ability.name }}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <div class="flex flex-wrap -mx-2">
                                <div class="w-full px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Name</mat-label>
                                        <input matInput type="text" [(ngModel)]="ability.name" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-full px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Text</mat-label>
                                        <textarea matInput [(ngModel)]="ability.description" (ngModelChange)="changed()"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                          <button (click)="removeAbility(ability)" mat-button color="warn">Fähigkeit entfernen</button>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
              <button (click)="addAbility()" mat-button color="primary">Fähigkeit hinzufügen</button>
            </mat-tab>
            <mat-tab label="Psy">
                <div class="p-4">
                    <div class="text-lg font-bold">Psyker</div>
                </div>

                <mat-accordion [multi]="false">
                    <mat-expansion-panel *ngFor="let psyker of card.psykers" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{ psyker.name }}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <div class="flex flex-wrap -mx-2">
                                <div class="w-full px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Name</mat-label>
                                        <input matInput type="text" [(ngModel)]="psyker.name" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-1/3 px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Cast</mat-label>
                                        <input matInput type="text" [(ngModel)]="psyker.cast" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-1/3 px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Deny</mat-label>
                                        <input matInput type="text" [(ngModel)]="psyker.deny" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-1/3 px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Other</mat-label>
                                        <input matInput type="text" [(ngModel)]="psyker.other" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>

                <div class="p-4">
                    <div class="text-lg font-bold">Psychic Powers</div>
                </div>

                <mat-accordion [multi]="false">
                    <mat-expansion-panel *ngFor="let power of card.psychicPowers" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{ power.name }}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <div class="flex flex-wrap -mx-2">
                                <div class="w-full px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Name</mat-label>
                                        <input matInput type="text" [(ngModel)]="power.name" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-full px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Details</mat-label>
                                        <textarea matInput [(ngModel)]="power.details" (ngModelChange)="changed()"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="w-1/3 px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Reichweite</mat-label>
                                        <input matInput type="text" [(ngModel)]="power.range" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-1/3 px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Warp Charge</mat-label>
                                        <input matInput type="text" [(ngModel)]="power.warpCharge" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                                <div class="w-1/3 px-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Ref</mat-label>
                                        <input matInput type="text" [(ngModel)]="power.ref" (ngModelChange)="changed()" />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-tab>
        </mat-tab-group>
        <div class="p-4">
            <div (click)="delete()" class="py-2 px-4 inline-block bg-red-500 text-white font-bold rounded cursor-pointer hover:bg-red-600">
                Karte löschen
            </div>
        </div>

    </div>
</div>
