<div *ngIf="backsideMode == 'frontpage'">
  <div #cardWrapper class="card-wrapper unit-basic card-backside" [class.hide-sidebar]="hideSidebar" [style.--base-size]="size + 'px'">
    <div class="card" [ngClass]="card.bgStyle + ' ' + card.kpiStyle" [style.background-image]="card.bgStyle == 'custom' ?  ('url(' + card.frontpageImage?.file + ')') : null">
      <div class="frontpage-unit-name-wrapper">
        <div class="frontpage-unit-name">{{ card.title }}</div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="backsideMode == 'backside'">
  <div #cardWrapper class="card-wrapper unit-basic card-backside" [class.hide-sidebar]="hideSidebar" [style.--base-size]="size + 'px'">
    <div class="card" [ngClass]="card.bgStyle + ' ' + card.kpiStyle" [style.background-image]="card.bgStyle == 'custom' ?  ('url(' + card.backsideImage?.file + ')') : null"></div>
  </div>
</div>
<div #cardWrapper class="card-wrapper unit-basic" [class.hide-sidebar]="hideSidebar" [style.--base-size]="size + 'px'">
  <div class="card" [ngClass]="card.bgStyle + ' ' + card.kpiStyle" [style.background-image]="card.bgStyle == 'custom' ?  ('url(' + card.backgroundImage?.file + ')') : null">
    '
    <div class="card-ribbon" [style.filter]="bypassSecurityStyle('saturate(' + card.color1saturation + '%) brightness(' + card.color1lightness + '%) hue-rotate(' + card.color1hue + 'deg)')"></div>
    <div class="card-image" [style.background-position]="'left ' + card.imageTranslateX + 'em top ' + card.imageTranslateY + 'em'" [style.background-size]="(card.imageScale * 100) + '% auto'" [style.background-image]="'url(' + (card.useAutomaticBackgroundRemoval ? card.unitImage?.knockedOutBgFile : card.unitImage?.file) + ')'"></div>

    <div class="card-unit-basic-info" *ngIf="card.units.length > 0">
      <div class="movement"><span>{{ card.units[0].movementSpeed }}</span></div>
      <div class="wounds"><span>{{ card.units[0].wounds }}</span></div>
      <div class="save"><span>{{ card.units[0].save }}</span></div>
      <div class="leadership"><span>{{ card.units[0].leadership }}</span></div>
      <div class="ballistic-skill"><span>{{ card.units[0].ballisticSkill }}</span></div>
      <div class="weapon-skill"><span>{{ card.units[0].weaponSkill }}</span></div>
      <div class="strength"><span>{{ card.units[0].strength }}</span></div>
      <div class="toughness"><span>{{ card.units[0].toughness }}</span></div>
      <div class="attacks"><span>{{ card.units[0].attacks }}</span></div>
    </div>
    <div class="card-unit-quote-wrapper">
      <div [style.color]="card.textColor1">
        {{ card.quote }}
      </div>
    </div>
    <div class="card-unit-name-box" [style.filter]="bypassSecurityStyle('saturate(' + card.color1saturation + '%) brightness(' + card.color1lightness + '%) hue-rotate(' + card.color1hue + 'deg)')"></div>
    <div class="card-unit-name" [style.color]="card.textColor1">
      <span class="title">Warscroll</span>
      <span class="name">{{ card.title }}</span>
      <span class="subtitle">{{ card.subtitle }}</span>
    </div>
    <div class="card-unit-name-chain left"></div>
    <div class="card-unit-name-chain right"></div>

    <div class="card-content">
      <table *ngIf="card.units.length > 0">
        <thead>
        <tr [style.color]="card.textColor2">
          <th [style.background-color]="card.bgColor2" [style.color]="card.textColor4">Einheit</th>
          <th [style.background-color]="card.bgColor2" [style.color]="card.textColor4">Geschwindigkeit</th>
          <th [style.background-color]="card.bgColor2" [style.color]="card.textColor4">Attacken</th>
          <th [style.background-color]="card.bgColor2" [style.color]="card.textColor4">Stärke</th>
          <th [style.background-color]="card.bgColor2" [style.color]="card.textColor4">Zähigkeit</th>
          <th [style.background-color]="card.bgColor2" [style.color]="card.textColor4">Rettung</th>
          <th [style.background-color]="card.bgColor2" [style.color]="card.textColor4">Führung</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let unit of card.units" [style.color]="card.textColor3">
          <td>{{ unit.name }}</td>
          <td>{{ unit.movementSpeed }}"</td>
          <td>{{ unit.attacks }}</td>
          <td>{{ unit.strength }}</td>
          <td>{{ unit.toughness }}</td>
          <td>{{ unit.save }}</td>
          <td>{{ unit.leadership }}</td>
        </tr>
        </tbody>
      </table>

      <table *ngIf="card.weapons.length > 0">
        <thead>
          <tr [style.color]="card.textColor2">
            <th [style.background-color]="card.bgColor2" [style.color]="card.textColor4">Waffen</th>
            <th [style.background-color]="card.bgColor2" [style.color]="card.textColor4">Typ</th>
            <th [style.background-color]="card.bgColor2" [style.color]="card.textColor4">Reichweite</th>
            <th [style.background-color]="card.bgColor2" [style.color]="card.textColor4">Stärke</th>
            <th [style.background-color]="card.bgColor2" [style.color]="card.textColor4">Durchschlag</th>
            <th [style.background-color]="card.bgColor2" [style.color]="card.textColor4">Schaden</th>
            <th [style.background-color]="card.bgColor2" [style.color]="card.textColor4">Fähigkeit</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let weapon of card.weapons" [style.color]="card.textColor3">
          <ng-container *ngIf="weapon.type != '-'">
            <td>
              {{ weapon.name }}
            </td>
            <td>
              <svg *ngIf="weapon.type == 'Melee'" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M2 19.2L3.8 21m.9-7.2l.9 3.6m0 0l3.6.9m-3.6-.9l-2.7 2.7M16.4 3.9l-9 9l.45 2.25l2.25.45l9-9L20 3l-3.6.9Z"/><path d="M22 19.2L20.2 21m-.9-7.2l-.9 3.6m0 0l2.7 2.7m-2.7-2.7l-1.8.45l-1.8.45M9.3 11L4.9 6.6L4 3l3.6.9L12 8.3m.1 5.5l1.8 1.8l2.25-.45l.45-2.25l-1.8-1.8"/></g></svg>
              <span *ngIf="weapon.type != 'Melee'">{{ weapon.type }}</span>
            </td>
            <td>
              <svg *ngIf="weapon.type == 'Melee'" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M2 19.2L3.8 21m.9-7.2l.9 3.6m0 0l3.6.9m-3.6-.9l-2.7 2.7M16.4 3.9l-9 9l.45 2.25l2.25.45l9-9L20 3l-3.6.9Z"/><path d="M22 19.2L20.2 21m-.9-7.2l-.9 3.6m0 0l2.7 2.7m-2.7-2.7l-1.8.45l-1.8.45M9.3 11L4.9 6.6L4 3l3.6.9L12 8.3m.1 5.5l1.8 1.8l2.25-.45l.45-2.25l-1.8-1.8"/></g></svg>
              <span *ngIf="weapon.type != 'Melee'">{{ weapon.range }}</span>
            </td>
            <td>
              {{ weapon.strength}}
            </td>
            <td>
              {{ weapon.penetration }}
            </td>
            <td>
              {{ weapon.damage }}
            </td>
            <td class="text-left">
              {{ weapon.abilities }}
            </td>
          </ng-container>

        </tr>
        </tbody>
      </table>

      <div class="content-text">
        <div *ngFor="let psyker of card.psykers" class="ability" [style.color]="card.textColor3">
          <span class="font-bold">Psyker</span>
          {{ psyker.name }} kann {{ psyker.cast }} Psykräfte einsetzen und {{ psyker.deny }} abwehren. {{ psyker.ref }}
        </div>
        <div *ngFor="let psychicPower of card.psychicPowers" class="ability" [style.color]="card.textColor3">
          <span class="font-bold">{{ psychicPower.name }}</span>
        </div>
        <div *ngFor="let ability of card.abilities" class="ability" [style.color]="card.textColor3">
          <span class="font-bold">{{ ability.name }}</span>
          {{ ability.description }}
        </div>
      </div>
    </div>
    <div class="card-keywords" [style.--keyword-color]="card.bgColor1" *ngIf="card.keywords.length > 0">
      <span *ngFor="let keyword of card.keywords; let i = index">{{ keyword }}<span *ngIf="i < card.keywords.length - 1">,</span> </span>
    </div>
  </div>
</div>

<!--<div #cardWrapper class="card-wrapper unit-basic" [style.--border-color]="card.borderColor" [style.--text-color]="card.textColor">
  <div class="card" [style.background-image]="'url(' + (card.backgroundImage?.file ? card.backgroundImage?.file : (card.backgroundImage?.content ? card.backgroundImage.content : ''))  + ')'">
    <div class="card-border"></div>
    <div class="card-image-wrapper" [style.background-image]="'url(' + (card.unitImage?.file ? card.unitImage?.file : (card.unitImage?.content ? card.unitImage.content : '')) + ')'">
      <div style="height: 1em; width: 100%;"></div>
      <div class="card-title-box-wrapper">
        <div class="card-title-box">
          <div class="card-title">{{ card.title }}</div>
          <div class="card-quote">{{ card.quote }}</div>
        </div>
        <div class="card-faction-icon" [style.background-image]="'url(' + (card.factionLogo?.file ? card.factionLogo?.file : (card.factionLogo?.content ? card.factionLogo.content : '')) + ')'"></div>
        <div class="card-psyker" *ngIf="card.psykers.length == 1">
            <div class="psyker-cast">
              <div class="dirt">

              </div>
              {{ card.psykers[0].cast }}
            </div>
            <div class="psyker-cast">
              {{ card.psykers[0].deny }}
            </div>
        </div>
      </div>

      <div class="card-units">
        <div *ngFor="let unit of card.units" class="unit" [style.background-image]="'url(' + (card.boxBackground?.file ? card.boxBackground?.file : (card.boxBackground?.content ? card.boxBackground.content : '')) + ')'">
            <div class="title-row">
              <span class="name">{{ unit.name }}</span>
              <span class="ref">{{ unit.ref }}</span>
            </div>
            <div class="characteristic">
              <div class="characteristic-label">M</div>
              <div class="characteristic-value">{{ unit.movementSpeed }}</div>
            </div>
            <div class="characteristic">
              <div class="characteristic-label">WS</div>
              <div class="characteristic-value">{{ unit.weaponSkill }}</div>
            </div>
            <div class="characteristic">
              <div class="characteristic-label">BS</div>
              <div class="characteristic-value">{{ unit.ballisticSkill }}</div>
            </div>
            <div class="characteristic">
              <div class="characteristic-label">S</div>
              <div class="characteristic-value">{{ unit.strength }}</div>
            </div>
            <div class="characteristic">
              <div class="characteristic-label">T</div>
              <div class="characteristic-value">{{ unit.toughness }}</div>
            </div>
            <div class="characteristic">
              <div class="characteristic-label">A</div>
              <div class="characteristic-value">{{ unit.attacks }}</div>
            </div>
            <div class="characteristic">
              <div class="characteristic-label">LD</div>
              <div class="characteristic-value">{{ unit.leadership }}</div>
            </div>
            <div class="characteristic">
              <div class="characteristic-label">Save</div>
              <div class="characteristic-value">{{ unit.save }}</div>
            </div>
        </div>
      </div>
    </div>
    <div class="card-content-wrapper">
      <div class="card-weapons">
          <div *ngFor="let weapon of card.weapons" class="card-weapon" [style.background-image]="'url(' + (card.boxBackground?.file ? card.boxBackground?.file : (card.boxBackground?.content ? card.boxBackground.content : '')) + ')'">
              <div class="card-weapon-icon"></div>
              <div class="card-weapon-name">{{ weapon.name }}</div>
              <div class="card-weapon-type">{{ weapon.type }}</div>
              <div class="card-weapon-ability">{{ weapon.abilities }}</div>
              <div class="card-weapon-characteristics">
                <div class="weapon-characteristic">
                  <div class="characteristic-label">Range</div>
                  <div class="characteristic-value">{{ weapon.range }}</div>
                </div>
                <div class="weapon-characteristic">
                  <div class="characteristic-label">S</div>
                  <div class="characteristic-value">{{ weapon.strength }}</div>
                </div>
                <div class="weapon-characteristic">
                  <div class="characteristic-label">AP</div>
                  <div class="characteristic-value">{{ weapon.penetration }}</div>
                </div>
                <div class="weapon-characteristic">
                  <div class="characteristic-label">D</div>
                  <div class="characteristic-value">{{ weapon.damage }}</div>
                </div>

              </div>
          </div>
          <div style="clear: both;"></div>
      </div>
      <div class="card-abilities" *ngIf="card.abilities.length > 0">
          <div *ngFor="let ability of card.abilities" class="card-ability" [style.background-image]="'url(' + (card.boxBackground?.file ? card.boxBackground?.file : (card.boxBackground?.content ? card.boxBackground.content : '')) + ')'">
            <span class="ability-name">{{ ability.name }}</span> {{ ability.description }}
          </div>
      </div>
    </div>
  </div>
</div>
-->
