<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Warhammer Datacards</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700;900&family=Rubik:wght@300;400;600;800&display=swap" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<div class="document-wrapper">
    {% block body %}
    {% endblock %}
</div>


</body>
</html>
